<a href="https://colab.research.google.com/github/HenOam/HenOam/blob/main/learning_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#learning to code is fun
##I will plan to keep this up
**henry**

In [11]:
weight_lbs = int(input('What is your weight? '))
print(weight_lbs)
if weight_lbs < 65:
  print("too light")
else:
  print("cool")

weight_kg = weight_lbs*0.45
print(weight_kg)

What is your weight? 65
65
cool
29.25

#strings
##you are allowed to use either single or double quotation marks

In [15]:
name = "ada lovelace"
print(name.title())
print(name.upper())

Ada Lovelace
ADA LOVELACE

##concatenation

In [23]:
first_name = "ada"
surname = "lovelace"
full_name = (first_name + " " + surname)
message = print("hello, " + full_name.title() + "!")

hello, Ada Lovelace!

#whitespaces, tabs and new lines
##whitespace refers to any nonprinting character, such as spaces, tabs, and end-of-line symbols.
#\t for tab
#\n for new line
#rstrip(), lstrip() and strip() for removing whitespace from right, left and both sides

In [25]:
print("Manchester\n\tExeter\n\tBenin")

Manchester
	Exeter
	Benin

In [26]:
favourite_language = " python"
favourite_language.lstrip()
print(favourite_language)

favourite_language = "python "
favourite_language.rstrip
print(favourite_language)

favourite_language = " python "
favourite_language.strip()
print(favourite_language)

 python
python
 python

#the Zen of python

In [29]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

#lists

In [25]:
cars = ['mercedes', 'kia', 'honda', 'nissan', 'jagua', 'toyota', 'renaut']
print(cars[1].title())

Kia

##adding items to lists

In [42]:
#append method adds items to the end of a list
cars.append('suzuki')
print(cars)

['mercedes', 'kia', 'honda', 'nissan', 'jagua', 'toyota', 'renaut', 'suzuki', 'suzuki']

In [46]:
# the insert method can be used to add items to specific positions within a list

cars.insert(0, "volvo")
print(cars)

['volvo', 'mercedes', 'mercedes', 'fiat', 'kia', 'honda', 'nissan', 'jagua', 'toyota', 'renaut', 'suzuki', 'suzuki']

In [48]:
#an item can be added to replace an existing item in a list
#python is zero based and as such the first item in the list is given the position zero, while the last item in the list can also be given the -1 position
cars[0] = "fiat"
print(cars)

['fiat', 'mercedes', 'mercedes', 'fiat', 'honda', 'nissan', 'jagua', 'toyota', 'renaut', 'suzuki', 'suzuki']

#removing items from a list using the del function

In [49]:
del cars[4]
print(cars)

['fiat', 'mercedes', 'mercedes', 'fiat', 'nissan', 'jagua', 'toyota', 'renaut', 'suzuki', 'suzuki']

*the use of the pop method*

In [54]:
# the pop method helps to retrieve and reuse the value
last_car_owned = cars.pop()
print("the last car I owned was a " + last_car_owned)

the last car I owned was a suzuki

In [55]:
print(cars)

['mercedes', 'mercedes', 'fiat', 'nissan', 'jagua', 'toyota', 'renaut']

In [51]:
# items can also be popped from specific positions in a list
first_car_owned = cars.pop(0)
print("my first car was a " + first_car_owned)

my first car was a fiat

In [16]:
print(cars)

['honda', 'nissan', 'jagua', 'toyota', 'renaut']

#removing an item from a list with remove method

In [26]:
cars.remove("kia")
print(cars)

['mercedes', 'honda', 'nissan', 'jagua', 'toyota', 'renaut']

In [27]:
# an item in a list can be assigned to a variable and then the variable removed from the list
too_expensive = 'jagua'
cars.remove(too_expensive)
print(cars)
print('n\A ' + too_expensive.title() + ' was too expensive for me')

['mercedes', 'honda', 'nissan', 'toyota', 'renaut']
n\A Jagua was too expensive for me

#Tuples

In [ ]:
# tuples are immutable.
""""""
Create an empty tuple
Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
Join brothers and sisters tuples and assign it to siblings
How many siblings do you have?
Modify the siblings tuple and add the name of your father and mother and assign it to family_members
""""""

In [ ]:
sisters = ('feli', 'mercy', 'meg', 'peg')
brothers = ('lucky', 'jay', 'henry')
siblings = sisters + brothers
print(siblings)
len(siblings)

In [ ]:
parents = ('paul', 'agnes')
family_members = siblings + parents
print(family_members)

In [28]:
# Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
#Change the about food_stuff_tp tuple to a food_stuff_lt list

fruits = ('apple', 'banana', 'orange', 'lemon', 'watermelon', 'strawberry')
vegetables = ('brocoli', 'cabbage', 'pasnip', 'leek')
animal_products = ('milk', 'cheese', 'meat', 'ham')
food_stuff_tp = fruits + vegetables + animal_products

In [30]:
food_stuff_lt = list(food_stuff_tp)

In [31]:
print(food_stuff_lt)

['apple', 'banana', 'orange', 'lemon', 'watermelon', 'strawberry', 'brocoli', 'cabbage', 'pasnip', 'leek', 'milk', 'cheese', 'meat', 'ham']

In [33]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
len(food_stuff_lt)
food_stuff_lt[6:8]

['brocoli', 'cabbage']

In [35]:
# Slice out the first three items
food_stuff_lt[0:3]

['apple', 'banana', 'orange']

In [44]:
# the last three items from food_staff_lt list
food_stuff_lt[-3:]

['cheese', 'meat', 'ham']

In [46]:
# Delete the food_staff_tp tuple completely
del food_stuff_tp
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

In [47]:
# to check if an item exists in the tuple
'cheese' in food_stuff_lt

True

In [48]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
"Estonia" in nordic_countries

False

In [49]:
'Finland' in nordic_countries

True

## *Sets*

## Set is a collection of unordered and un-indexed distinct elements. In Python set is used to store unique items, and it is possible to find the union, intersection, difference, symmetric difference, subset, super set and disjoint set among sets.

** items are unchangeable, but you can remove items and add new items **
* sets are written in curly brackets

In [50]:
# items in a set do not have an order and can therefore appear in different order whenever printed

lt = {'joe', 'jon', 'james', 'jones', 'jarmaine'}
print(lt)

{'jon', 'joe', 'jarmaine', 'james', 'jones'}

In [53]:
# like lists, sets can be checked if an item exists
'jon' in lt

True

In [54]:
'jonas' in lt

False